<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
    <title>
      {% block title %}
        Havre de Paix | Category
      {% endblock %}
    </title>
    <style>
      body {
        font-family: Poppins;
      }
    </style>
  </head>
  <body class="bg-gray-100">
    <header>
      {% comment %}contenu du header{% endcomment %}
      {% include "categoryCoast/header.html" %}
    </header>
    <main>
      <div class="max-w-7xl mx-auto my-8">
        {% block content %}
          {% comment %}contenu du body{% endcomment %}
        {% endblock %}
      </div>
    </main>
    <footer>
      {% comment %}contenu du footer{% endcomment %}
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
  </body>
</html>
