{% extends 'categoryCoast/base.html' %}

{% block title %}
  Listes des catégories
{% endblock %}

{% block content %}
  <div class="flex items-center justify-between px-4">
    <h1 class="text-xl md:text-2xl font-bold text-gray-500 text-center uppercase">Listes des catégories</h1>
    <a href="{% url 'categoryCoast:add' %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-indigo-500 rounded-lg hover:bg-indigo-600 focus:ring-4 focus:outline-none focus:ring-indigo-300 dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800">
      <svg class="w-6 h-6 text-gray-100 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
        <path fill-rule="evenodd" d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm11-4.2a1 1 0 1 0-2 0V11H7.8a1 1 0 1 0 0 2H11v3.2a1 1 0 1 0 2 0V13h3.2a1 1 0 1 0 0-2H13V7.8Z" clip-rule="evenodd" />
      </svg>
      <span class="hidden md:block">Ajouter</span>
    </a>
  </div>
  <div class="grid sm:grid-cols-2 lg:grid-cols-3 px-4 gap-4">
    {% for category in categories %}
      <div class="transition transform ease-in-out hover:scale-105 duration-700 bg-gradient-to-r from-gray-300 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mt-8">
        <a href="{% url 'categoryCoast:show' category.id %}">
          <img class="object-cover rounded-t-lg w-fit" src="https://images.unsplash.com/photo-1497633762265-9d179a990aa6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y2F0ZWdvcmllJTIwbGl2cmV8ZW58MHx8MHx8fDA%3D" alt="category cover" /></a>
        <div class="p-5">
          <a href="{% url 'categoryCoast:show' category.id %}"><h5 class="mb-2 tracking-tight text-gray-900 dark:text-white hover:underline"><span class="underline font-medium text-lg">Description</span> :<span class="text-lg text-gray-500"> {{ category.description | truncatewords:20 }}</span></h5></a>
          <a href="{% url 'categoryCoast:show' category.id %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-indigo-500 rounded-lg hover:bg-indigo-600 focus:ring-4 focus:outline-none focus:ring-indigo-300 dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-blue-800">
            Voir plus<span class="me-3">
              <svg class="w-6 h-6 text-gray-100 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7" />
              </svg>
            </span>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
