{% extends 'categoryCoast/base.html' %}

{% block title %}
Détails sur une catégorie
{% endblock %}

{% block content %}
  <div class="flex justify-center items-center min-h-screen mx-auto my-3">
    <h1 class="text-2xl font-bold mb-4 text-gray-500 text-center uppercase">Détails sur la catégorie</h1>
    <div class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-lg md:flex-row md:max-w-xl dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
      <div class="flex flex-col justify-between p-4 leading-normal">
        <h5 class="mb-3 text-xl font-bold tracking-tight text-gray-900 dark:text-white"><span class="underline text-gray-500">Catégorie</span> : {{ category.description }}</h5>

        <div class="flex gap-3">
          <a href="{% url 'categoryCoast:edit' category.id %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-500 rounded-lg hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Modifier</a>
          <a href="{% url 'categoryCoast:remove' category.id %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-500 rounded-lg hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Supprimer</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
