{% extends 'catalog/base.html' %}

{% block title %}
Rechercher des livres
{% endblock %}

{% block content %}
<h2>Résultats de la recherche</h2>

<div id="search-form">
    <label for="search-query" class="sr-only">Rechercher</label>
    <input type="text" id="search-query" placeholder="Rechercher par titre, date ou auteur">
    <button onclick="performSearch()">Rechercher</button>
</div>

<ul id="search-results">
    {% for book in books %}
        <li>{{ book.title }} - {{ book.author }} - {{ book.publish_date }}</li>
    {% endfor %}
</ul>

<script>
    function performSearch() {
        var searchQuery = document.getElementById('search-query').value.toLowerCase();
        var resultsContainer = document.getElementById('search-results');
        resultsContainer.innerHTML = '';

        {% for book in books %}
            var title = '{{ book.title|lower }}';
            var author = '{{ book.author|lower }}';
            var publishDate = '{{ book.publish_date|lower }}';

            if (title.includes(searchQuery) || author.includes(searchQuery) || publishDate.includes(searchQuery)) {
                var listItem = document.createElement('li');
                listItem.textContent = '{{ book.title }} - {{ book.author }} - {{ book.publish_date }}';
                resultsContainer.appendChild(listItem);
            }
        {% endfor %}
    }
</script>
{% endblock %}
